.login, .register{
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: fit-content;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
}

form{
    width: 100%;
    max-width: 384px;
}

.form_img{
    height: 40px;
    margin: 30px;
    filter: invert(44%) sepia(79%) saturate(2890%) hue-rotate(199deg) brightness(96%) contrast(93%);
}

.logo_banner{
    display: block;
    height: auto;
    width: 100px;
    margin: 0 auto;
    margin-top: 50px;
    filter: invert(0);
}

.form h4{
    font-size: 24px;
    margin-bottom: 24px;
}

.input{
    width: 100%;
    height: fit-content;
    text-align: left;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.input p{
    font-size: 14px;
    margin-top:10px;
    margin-bottom: 10px;
}

.input input{
    border-radius: 0.375rem;
    height: 36px;
    width: 100%;
    border: 0.5px solid #6B7280;
    font-size: 14px;
    text-indent: 5px;
}

.input input:focus{
    border: 1px solid #2f80ed;
    height: 35px;
    word-wrap: calc(100% - 1px);
}

.btn_primary{
    background-color: #2f80ed;
    color: white;
    height: 36px;
    width: 100%;
    border-radius: 0.375rem;
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-weight: bold;
}

.btn_primary:hover{
    background-color: #246cc8;
    cursor: pointer;
}

.btn_secondary{
    color: #6B7280;
    font-size: 14px;
}

.btn_secondary a{
    text-decoration: none;
    color: #2f80ed;
    font-weight: bold;
}

.message{
    font-size: 14px;
    color: red;
    margin-bottom: 20px;
}

@media only screen and (max-width: 756px) {

    .input input{
        border: 1px solid #6B7280;
    }
}